<html>
    <head>
        <title>KatStock</title>
        <link rel="shortcut icon" href="favicon.ico"/>
        <link rel="stylesheet" href="resources/external/uikit-2.21.0/css/uikit.min.css">
        <link rel="stylesheet" href="resources/external/uikit-2.21.0/css/components/datepicker.min.css">
        <link rel="stylesheet" href="resources/app/css/style.css">
    </head>
    <body>

        <!-- Header -->
        <nav id="header" class="header uk-navbar white-style-block"></nav>

        <div class="wrapper">

            <div id="partial-view" class="uk-width-2-3 uk-container-center"></div>

        </div>

        <!-- Footer template -->
        <div class="footer uk-navbar orange-style-block">
            <div class="footer-container">
                <div class="uk-text-center">
                    <p>&copy KatStock, 2015</p>
                </div>
            </div>
        </div>

        <!-- External -->
        <script src="resources/external/jquery/jquery-1.11.3.min.js"></script>
        <script src="resources/external/uikit-2.21.0/js/uikit.min.js"></script>
        <script src="resources/external/uikit-2.21.0/js/components/datepicker.min.js"></script>
        <script src="resources/external/backbone/underscore.js"></script>
        <script src="resources/external/backbone/backbone-min.js"></script>

        <!-- App -->
        <script src="resources/app/js/Application.js"></script>
        <!-- Factory -->
        <script src="resources/app/js/factory/ViewsFactory.js"></script>
        <!-- Errors -->
        <script src="resources/app/js/error/ErrorHandler.js"></script>
        <!-- Util -->
        <script src="resources/app/js/util/TemplateRenderer.js"></script>
        <!-- Header -->
        <script src="resources/app/js/header/model/UserInfo.js"></script>
        <script src="resources/app/js/header/view/HeaderView.js"></script>
        <!-- Home -->
        <script src="resources/app/js/home/view/HomeView.js"></script>
        <!-- Login -->
        <script src="resources/app/js/authentication/view/LoginView.js"></script>
        <script src="resources/app/js/authentication/model/Authentication.js"></script>
        <!-- Stock -->
        <script src="resources/app/js/stock/view/StocksView.js"></script>
        <script src="resources/app/js/stock/model/Stock.js"></script>
        <script src="resources/app/js/stock/collection/Stocks.js"></script>
        <script src="resources/app/js/stock/view/StockView.js"></script>
        <!-- Waybill -->
        <script src="resources/app/js/waybill/view/WaybillView.js"></script>
        <script src="resources/app/js/waybill/model/Waybill.js"></script>

    </body>
</html>