<h1 class="uk-text-center">Stock "<%=stock.stockName%>"</h1>
<hr class="uk-article-divider orange-divider-style">
<div class="uk-row uk-margin-large">
    <div class="uk-thumbnail uk-width-1-1 uk-flex uk-flex-top uk-flex-space-around uk-text-large">
        <img class="uk-width-1-3" src="<%=stock.url ? stock.url : 'resources/app/images/no-image.png' %>" alt="stock">
        <div class="uk-thumbnail-caption  uk-width-1-3 uk-text-right uk-margin-right">
            <h2><strong><%=stock.stockName %></strong></h2>
            <p><%=stock.description %></p>
            <p><strong>Cost:</strong> <%=stock.costPerKgPerDay%> $ / kg*day</p>
            <p><strong>Square:</strong> <%=stock.square%> sq.m.</p>
        </div>
        <div class="uk-thumbnail-caption uk-width-1-3 uk-text-left uk-margin-left">
            <h2 ><strong>Address:</strong></h2>
            <p><strong>Country:</strong> <%=stock.address.country%></p>
            <p><strong>Region:</strong> <%=stock.address.region%></p>

            <%if(stock.address.street) {%>
                <p><strong>Street:</strong> <%=stock.address.street%></p>
            <%};%>

            <%if(stock.address.building) {%>
                <p><strong>Building:</strong> <%=stock.address.building%></p>
            <%};%>

            <%if(stock.address.description) {%>
                <p><strong>Description:</strong> <%=stock.address.description%></p>
            <%};%>
        </div>
    </div>
</div>